* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Cantarell', sans-serif;
}

h2{
    font-family: 'Cantarell', sans-serif;
    padding-top: 1em;
    color: #0B8C00;
    font-weight: 400;
}

a{
    font-family: 'Open Sans', sans-serif;
    color: #0B8C00;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.75em;
}

.text-center{
    text-align: center;
}

ul{
    list-style: none;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
}


.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.menu--scroll {
    background-color: rgba(255, 255, 255, 0.644);
    border-bottom: solid 1px rgb(126, 126, 126);
}

.menu--scroll .menu__item a {
    color:rgb(121, 121, 121);
}

.menu__logo {
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__logo--name{
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    color: #0B8C00;
}

.menu__list{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
}

.menu__item{
    list-style: none;
    text-decoration: none;
    font-size: 1em;
    padding: 15px;
}
.menu__item a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color:#FFFFFF;
}

.menu__item--button{
    list-style: none;
    text-decoration: none;
    border: solid;
    padding: 10px;
    color: white;
}

.menu__item--button a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.landing--page{
    background-image: url(../img/landingpage--img.png);
    width: auto;
    height: 724px;
    padding-left: 5em;
    color: white;
    
}

.landing--page__subtitle{
    font-family: 'Cantarell', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 150px;
    padding-left: 10px;
    text-shadow: 0px 4px 4px #00000025;
}

.landing--page__highlight{
    font-family: 'Cantarell', sans-serif;
    width: 872px;
    height: 186px;
    line-height: 97.2%;
    letter-spacing: -8px;
    font-size: 96px;
    text-shadow: 0px 4px 4px #00000025;
}
.landing--page__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    width: 550px;
}
.landing--page__list--button{
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: solid;
    width: 235px;
    padding: 15px;
}

.main__context{
    padding-left: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 375px;
}

.main__text{
    padding-top: 20px;
    padding-bottom: 20px;
}

.main__context--list{
    width: 700px;
}

.main__context--list h2{
    padding-bottom: 2em;
}





.gallery{
    height: 867px;
}

.gallery h2{
    background-color: #CEE6CC;
    height: 300px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    line-height: 97.2%;
    letter-spacing: 0.2em;
    padding-top: 1.5em;
}

.gallery__img{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -100px;
    margin-left: 4em;
}

.gallery__img img{
    margin: 1em;
}

.gallery a{
    display: flex;
    justify-content: center;
    margin-top: -5em;
}

.main__restaurant{
    display: flex;
    flex-direction: row;
    background-color: #CEE6CC;
    height:325px;
    margin-bottom: 5%;
}

.main__restaurant-text{
    text-align: right;
    margin: 4%;
}

.main__restaurant-text .main__text{
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main__restaurant-img img{
    position: relative;
}


.footer__newsletter-form{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.footer{
    background-color: #CEE6CC;
}

.footer__menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__menu--contact{
    display: flex;
    flex-direction: row;
}

.footer__menu--list--logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__menu--item--logo{
    padding: 0.5%;
}

.footer__menu--item--logo img{
    width: 20px;
    height: 20px;
}

.footer__logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}