* {
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.text-center {
  text-align: center;
}

body {
  background: #C4C4C4;
  font-family: 'Cantarell', sans-serif;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
  color: #555555;
  margin: 0;
  padding: 0;
}

header {
  max-width: 100% !important;
  overflow-x: hidden  !important;
}

h2 {
  font-family: 'Cantarell', sans-serif;
  padding-top: 1em;
  padding-bottom: 0.75em;
  color: #0B8C00;
  font-weight: 400;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #0B8C00;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.75em;
}

ul {
  list-style: none;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  color: #555555;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  color: #555555;
}

.auth.hidden {
  display: none;
}

.auth.visible {
  display: block;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  margin: 100px 100px 100px 10%;
  padding: 0px;
}

.sign__image {
  width: 50%;
}

.sign__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sign__text--subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.sign #logIn p, .sign #createProduct p, .sign #register p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sign #logIn input[type=text], .sign #logIn input[type=password], .sign #logIn input[type=email], .sign #logIn input[type=number], .sign #createProduct input[type=text], .sign #createProduct input[type=password], .sign #createProduct input[type=email], .sign #createProduct input[type=number], .sign #register input[type=text], .sign #register input[type=password], .sign #register input[type=email], .sign #register input[type=number] {
  border: none;
  border-bottom: 1px solid #555555;
  margin-bottom: 5px;
}

.sign #logIn input[type=submit], .sign #createProduct input[type=submit], .sign #register input[type=submit] {
  font-family: 'Open Sans', sans-serif;
  color: #0B8C00;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.75em;
  background-color: white;
  border: 1px solid #4CAF50;
  width: 198px;
  height: 45px;
  margin-top: 10px;
}

.menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu__close {
  display: none;
}

.menu--scroll {
  background-color: #0B8C0075;
  border-bottom: solid 1px #0B8C00;
}

.menu--scroll .menu__logo--name {
  display: none;
}

.menu__logo {
  padding-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo--name {
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  color: #0B8C00;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  list-style: none;
  text-decoration: none;
  padding: 15px;
}

.menu__item a {
  font-weight: bold;
  color: #FFFFFF;
}

.menu__item--username {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

.menu__item--button {
  list-style: none;
  text-decoration: none;
  border: solid;
  padding: 10px;
  color: white;
}

.menu__item--button a {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.menu__item--action {
  display: none;
  border: none;
  background: none;
}

.menu__text {
  padding-top: 20px;
  padding-bottom: 20px;
}

.landing--page {
  background-image: url(../img/landing-page--img.png);
  background-size: cover;
  max-width: 100vw;
  overflow: hidden;
  height: 724px;
  color: white;
}

.landing--page__subtitle {
  font-family: 'Cantarell', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 150px;
  padding-left: 100px;
  color: white;
  text-shadow: 0px 4px 4px #00000025;
}

.landing--page__highlight {
  font-family: 'Cantarell', sans-serif;
  width: 80%;
  line-height: 97.2%;
  padding-left: 100px;
  font-size: 96px;
  color: white;
  text-shadow: 0px 4px 4px #00000025;
}

.landing--page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  width: 550px;
}

.landing--page__list--button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border: solid;
  margin: 30px 30px 20px 0px;
  width: 235px;
  padding: 15px;
}

.main__context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 375px;
  max-width: 100vw;
  overflow: hidden;
}

.main__context h2 {
  padding-top: 0;
}

.main__context--list {
  width: 700px;
}

.main__context--list h2 {
  padding-bottom: 2em;
}

.main__context--img {
  height: 375px;
}

.main__context--img img {
  -webkit-box-shadow: 4px 4px 10px #00000025;
          box-shadow: 4px 4px 10px #00000025;
}

.main__context-text {
  text-align: left;
  margin: 4%;
}

.main__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #CEE6CC;
  height: 318px;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.main__restaurant-text {
  text-align: right;
  margin: 4%;
}

.main__restaurant-text .main__text {
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery {
  height: 100%;
}

.gallery h2 {
  padding-top: 0;
  margin: 4%;
}

.gallery__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.gallery__img img {
  margin: 1em;
}

.models {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #CEE6CC;
}

.footer__newsletter-form {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__newsletter-input {
  width: 300px;
  height: 30px;
}

.footer__button {
  background: #0B8C00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  color: white;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__menu--list--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu--item--logo {
  padding: 0.5%;
}

.footer__menu--item--logo img {
  width: 20px;
  height: 20px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product--page {
  background-image: url(../img/product-page--img.png);
  background-size: cover;
  max-width: 100vw;
  overflow: hidden;
  height: 724px;
}

.product--page__highlight {
  font-family: 'Cantarell', sans-serif;
  line-height: 97.2%;
  margin: 20% 10% 0 10%;
  font-size: 96px;
  color: white;
  text-shadow: 0px 4px 4px #00000025;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product {
  display: block;
  width: 32%;
  text-decoration: none;
  border: solid 1px #555555;
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  background-color: #FFF;
}

.product__image {
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.product__tag {
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: .9em;
}

.product__tag--best-seller {
  background-color: #0B8C00;
}

.product__tag--recommended {
  background-color: #555555;
}

.product__price {
  color: #555555;
  font-size: 1.5em;
  margin: 15px 0;
}

.product__name {
  color: #555555;
  font-size: 1.1em;
}

.product__cart {
  background-color: #0B8C00;
  color: #FFF;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.product__cart:disabled {
  background-color: gray;
}

.product_a {
  display: none;
}

.product_a.loaded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lds-roller {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-left: 50%;
  width: 80px;
  height: 80px;
}

.lds-roller.loaded {
  display: none;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=index.css.map */