@media all and (max-width:1082px){
    .main__context-text{
        width: 400px;
    }

    .main__context--list{
        width: 100%;
    }

    .gallery__img{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}

@media all and (max-width:868px){    

    .menu__item--action{
        display: block;
        margin-right: 1em;
    }
    
    .landing--page__subtitle{
        padding-left: 50px;
    }
    
    .menu{
        max-width: 100%; 
        z-index: 8;
        /* background-color: blue;  */
    }

    .menu__list{
        display: none;
    }

    .menu__list--mobile{
        position: absolute;
        padding-top: 10%;
        background-color: white;
        width: 100%;
        height: 1400px;
        display: flex !important;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .menu__item {
        font-size: 3em;
    }

    .menu__item--button{
        font-size: 3em;
    }

    .menu__close{
        font-size: 3em;
        display: block;
        padding-top: 5%;
        color: #555555
    }
    

    .menu__item a{
        color: #555555;
    }
    
    .menu__item--button{
        color: #555555;
    }
    
    .menu__item--button a{
        color: #555555;
    }
    

    h2, p, a{
        text-align: center;
    }
    
    .landing--page{
        /* width: 100%; */
        /* padding-left: 5em; */
        color: yellow; 
        display: flex;
        flex-direction: column; 
        align-items: center; 
        /* padding: 0 2em;  */

    }

    .landing--page__subtitle{
        display: none;
    }

    .landing--page__highlight{
        margin-top: 2em;
        padding-left: 0px;
        /* background-color:green;  */
        padding: 0 .5em;
        font-family: 'Cantarell', sans-serif;
        display: flex;
        /* align-items: center; */
        text-align: center;
        width: 100%;
        /* padding-top: 250px; */
        font-size: 3.5em;
        color: white;
        text-shadow: 0px 4px 4px #00000025;
        margin-bottom: 1em;
    }

    .main__restaurant{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #CEE6CC;
    }

    .landing--page__list{
        /* background-color: purple; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 0px;
        /* margin-top: 40%; */
        height: 150px;
        /* padding-top: 30px; */
    }

    .main__context{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .main__context--img{
        height: auto;
        width: auto;
    }
    .main__context--img img{

        box-shadow: none;
    }

    .main__context-text{
        align-items: center;
    }

    .main__context--list{
        width: 100%;
    }

    .main__text{
        margin: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .main__restaurant{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #CEE6CC;
        height:100%;
    }

    .main__restaurant-text{
        display: flex;
        flex-direction: column;
        order: 0;
    }

    .main__restaurant-img{
        display: flex;
        order: 1;
        
    }

    .gallery{
        height: 100%;
    }

    .gallery__img{
        display: flex;
        flex-direction: column;
    }

}